:root {
    --ff-sans: 'Figtree', sans-serif;

    --fw-normal: 500;
    --fw-bold: 800;

    --fs-300: 0.75rem;
    --fs-400: 0.9375rem;
    --fs-450: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;

    --clr-neutral-900: hsl(0, 0%, 7%);
    --clr-neutral-400: hsl(0, 0%, 50%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --clr-yellow: hsl(47, 88%, 63%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    color: var(--clr-neutral-400); 
}

body {
    background-color: var(--clr-yellow);
}

h1,
h2,
h3 {
    color: var(--clr-neutral-900);
    line-height: 1.1;
}

.wrapper {
    
    max-width: 384px;
    min-height: 522px;
}

p {
    font-size: var(--fs-450);
    margin-bottom: 1rem;
}

h1 {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}

h1:hover {
    color: var(--clr-yellow);
}

h2 {
    font-weight: var(--fw-normal);
    font-size: var(--fs-400);
    margin-bottom: 1rem;
}

h3 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    margin-left: 1rem;
}

.card {
    --br: 1rem;
    padding: 1.5rem;
    background: var(--clr-neutral-100);
    box-shadow: 0.5rem 0.5rem 0 hsl(0, 0%, 7%);
    border-radius: var(--br);
    border: 1px solid var(--clr-neutral-900);
}

.card-title {
    font-size: var(--fs-600);
    margin: 0;
}

.card-img {
    border-radius: 0.5rem;
    margin-bottom: .5rem;
}

.container-author {
    display: flex;
    align-items: center;
}

.category {
    color: var(--clr-neutral-900);
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cat-button {
    background-color: var(--clr-yellow);
    border: none;
    border-radius: 0.3rem;
    padding-inline: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: var(--fs-300);
}

.author-img {
    max-height: 2rem;
}

@media (max-width: 768px) {
    .wrapper {
        margin: 20px 30px; /* Increase side margins on mobile */
    }
}
